


<ion-content [class]="this.getClass()">
  <!-- <img src='/assets/brokenclouds.jpg' object-fit="cover" align="center" > -->

  <!--   -->
  <div *ngIf="this.city.name" [class]="this.getClass()">
    <h1>{{ this.city.name }}
      <ion-button id="fav" size="small" color="light" (click)="topFavorite()">
        <ion-icon *ngIf="!this.city.favorite" name="star-outline"></ion-icon>
        <ion-icon *ngIf="this.city.favorite" name="star" color="danger"></ion-icon>
      </ion-button>
    </h1>
    <h2 *ngIf="this.city">{{ ((this.city.description).replace('_', ' ').toUpperCase()) }}</h2>
    <div *ngIf="this.city">
      <ion-iconmeteo id="icon">
        <img class="bigIcon" src="assets/meteoIcons/{{this.city.descriptionIcon}}.png">
      </ion-iconmeteo>
      <p>
      </p>
      <div>
        <div>
          <ion-icon name="md-arrow-round-down"></ion-icon>
          Min {{ this.city.tempMin }}°
        </div>
        <div id="now"> {{ this.city.tempActual }}° </div>
        <div id="max">
          <ion-icon name="md-arrow-round-up"></ion-icon>
          Max {{ this.city.tempMax }}°
        </div>
        <br>
        <div> Wind {{ this.city.wind }} Humidity {{ this.city.humidity }}%
        </div>
      </div>
      <br>
      <div *ngIf="this.city.tabMois[0] > 0" >
        <h3>FORECASTS</h3>
        <div display="inline">
          <ion-fab-button (click)="prev()" horizontal="start" size="small" color="light" display="inline">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-fab-button>

          <ion-iconmeteo id="icon" display="inline>
            <img class="miniIcon" src="assets/meteoIcons/{{this.city.tabIconName[this.city.tabIndex]}}.png">
          </ion-iconmeteo>

          <ion-fab-button (click)="next()" horizontal="start" size="small" color="light" display="inline>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-fab-button>
        </div>
        <br>
        <p></p>

        <div> {{ this.city.tabWeatherDescription[this.city.tabIndex] }}</div>
        <br>
        <div> {{this.city.tabJour[this.city.tabIndex]}}/{{this.city.tabMois[this.city.tabIndex]}} at
          {{this.city.tabHeure[this.city.tabIndex]}}:00
        </div>
        <div>   
          <ion-icon name="thermometer" ></ion-icon>
          {{this.city.tabTemp[this.city.tabIndex]}}°,
          <ion-icon name="md-nuclear" ></ion-icon>
          {{this.city.tabWind[this.city.tabIndex]}}

        </div>

      </div>

      <div class="buttons">
        <ion-button size="small" routerLink="/citylist">
          <ion-icon name="heart" color="Light" (click)="favorite()"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="localisation()">
          <ion-icon name="navigate" color="Light"></ion-icon>
        </ion-button>
      </div>


    </div>

  </div>
  <app-input (cityValue)="setCityValue($event)" class="inputCity"></app-input>
</ion-content>