// ion-content {
//   --background: url(/assets/brokenclouds.jpg) no-repeat center/cover fixed;
// }

ion-content.jour{
  --background: url(/assets/brokenclouds.jpg) no-repeat center/cover fixed;
}


ion-content.nuit{
  --background: url(/assets/smoderaterain.jpeg) no-repeat center/cover fixed;
}


// ion-content .jour{
//   background-color: green;
// }

// ion-content .nuit{
//   background-color: purple;
// }


// :host {
  // color: darken($nightandday, 80%);
  // --ion-background-color:  #c3d4f1;
  // --ion-background-color: #eeeeff;
  // --ion-background-color: linear-gradient(45deg, #e2e3ee, #02052c);
// }



div.jour {
  color: rgb(35, 11, 63);
}

div.nuit {
  color: yellow;
}



h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Helvetica";
  font-weight: bolder;
}

#fav {
  position: fixed;
  margin-left: 90%;
  top: 69px;
  left: 1px;
}

h2 {
  font-weight: lighter;
}

div {
  text-align: center;
}

#min {
  font-size: 15px;
}

#now {
  font-size: 30px;
  font-weight: bolder;
}

#max {
  font-size: 15px;
}

#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.miniIcon {
  height: 85px;
}

.bigIcon {
  height: 200px;
  padding-left: 15px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.inputCitys {
  display: flex;
}

